*~
*.swp
themes/air1/images/wallpaper*.png
themes/air2/images/wallpaper*.png
themes/bluestripes/images/wallpaper*.png
themes/cable/images/wallpaper*.png
themes/deer/images/wallpaper*.png
themes/elegantstripes/images/wallpaper*.png
themes/greenstripes/images/wallpaper*.png
themes/greystripes/images/wallpaper*.png
themes/meadow/images/wallpaper*.png
themes/orange/images/wallpaper*.png
themes/pink/images/wallpaper*.png
themes/waitingroom/images/wallpaper*.png
themes/wheat/images/wallpaper*.png
tmp/*
